@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




@keyframes fadeIn {
 from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
 }
 .animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes dotPulse {
  0% { opacity: 0.4; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0.4; transform: scale(0.8); }
}

.dots-loading {
  display: flex;
  align-items: center;
}

.dots-loading .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  margin: 0 2px;
  display: inline-block;
  animation: dotPulse 1.5s infinite ease-in-out;
}

.dots-loading .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dots-loading .dot:nth-child(3) {
  animation-delay: 0.4s;
}